<form [formGroup]="eventoForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{eventoForm.value?.titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Evento titulo" formControlName="titulo">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Evento descricao" formControlName="descricao">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="update()">salvar</button>
      <button mat-button routerLink="../agenda" (click)="unselect()">voltar</button>
    </mat-card-actions>
  </mat-card>
</form>


